{%load static%}
  <!DOCTYPE html>
<html lang="en">
<head>
  <link href="{%static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css'%}" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  {% comment %} <style>
    a{
      text-decoration:none;
    }
    .profile-header {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
    }

    .profile-picture {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    .user-info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .user-info h2 {
      margin-bottom: 10px;
    }

    .user-info p {
      color: #666;
    }

    .user-posts {
      margin-top: 40px;
    }

    .user-posts .post {
      margin-bottom: 20px;
    }

    .user-posts .post img {
      width: 100%;
      height: auto;
    }

    .btn-follow {
      margin-top: -5px;
      margin-left:4px;
    }

    .btn-circle {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 0;
    }
    #but1{
      color:#666;
      border:none;
      background-color:#0012;
      margin-bottom:20px;
    }
  </style> {% endcomment %}
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/">Phot<span>ored</span></a></h1>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>profile</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-header">
          <div class="user-info">
            <form action="" method="">
            <h6 style="padding:1px; color:#666; background-color:#0013 ">First Name: <input type="text" name="username" class="form-control">
           </h6>
            <h6 style="padding:1px; color:#666; background-color:#0013 ">Surname: <input type="text" name="username" class="form-control">
           </h6>
            <h6 style="padding:1px; color:#666; background-color:#0011 ">Username: <input type="text" name="username" class="form-control">
            </h6>
            <h6 style="padding:1px; color:#666; background-color:#0013 ">Contact: <input type="number" name="username" class="form-control">
            </h6>
            <h6 style="padding:1px; color:#666; background-color:#0011 ">Email: <input type="text" name="username" class="form-control"></h6>
            <h6 style="padding:1px; color:#666; background-color:#0013 ">Country: <input type="text" name="username" class="form-control"></h6>
            <h6 style="padding:1px; color:#666; background-color:#0011 ">City: <input type="text" name="username" class="form-control" ></h6>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        <form action="" method="">
            <h4 style="padding-top:50px;"> Change Password </h4>
            <h6 style="padding:1px; color:#666; background-color:#0013 "> Current Password: <input type="password" name="password" class="form-control" required></h6>
                <h6 style="padding:1px; color:#666; background-color:#0013 ">New Password:<input type="password" name="password" class="form-control" required></h6>
                    <h6 style="padding:1px; color:#666; background-color:#0013 ">New Password Confirmation<input type="password" name="password" class="form-control" required></h6>
                    <button style="background:red; border:none;" type="submit" class="btn btn-primary">Update Password</button>
                </form>
            <div style=" padding-top:10px; border-bottom: 3px solid blue;">
            </div>
            
          </div>
        </div>
      </div>
    </div>
 
        <!-- ======= Clients Section ======= -->
        <!-- <section id="clients">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2>Clients</h2>
              <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
            </div>
    
            <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section>End Clients Section -->
    
      <!-- Bootstrap JS and dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
 
    </div>
  </div>
</div>
                
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Photored</strong>. All Rights Reserved
            designed by <a href="">Miztanhat</a>
          </div>
        </div>
      </footer><!-- End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
      <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
      <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
      <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
      <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>
    
      <!-- Template Main JS File -->
      <script src="{%static 'assets/js/main.js'%}"></script>
    
    </body>
</html>